spring:
  datasource:
    url: jdbc:mysql://localhost:3306/library_management
    username: library_user
    password: library_password
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp

server:
  port: 8080
  servlet:
    context-path: /


logging:
  level:
    com.ac.cst8319.lms: DEBUG
    org.hibernate.SQL: DEBUG